{% extends 'stock/base.html' %}

{% block content %}
<div class="flex justify-between items-center mt-8">
    <h2 class="text-3xl font-bold">Liste de Produit</h2>
    {% if store %}
    <a href="{% url 'add_product' store.id %}" 
       class="bg-emerald-600 hover:bg-emerald-700 text-white px-4 py-2 rounded shadow">
       + Ajouter Produit
    </a>
{% else %}
    <span class="text-red-500">Pas de boutique selectionee</span>
{% endif %}
    <!-- Add Product Button -->
   
</div>
<div class="mt-4 flex justify-between items-center">
    <form method="GET" class="flex space-x-2">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Rechercher un produit..."
               class="border border-gray-300 rounded px-4 py-2 focus:ring-emerald-500 focus:border-emerald-500">
        <button type="submit"
                class="bg-emerald-600 hover:bg-emerald-700 text-white px-4 py-2 rounded">
            Rechercher
        </button>
    </form>

    {% if search_query %}
        <a href="{% url 'product_list' store.id %}" 
           class="text-emerald-600 font-semibold">Réinitialiser</a>
    {% endif %}
</div>

<div class="mt-6">
    <table class="w-full table-auto border-collapse">
        <thead>
            <tr class="bg-gray-200">
                <th class="border p-2">#</th>
                <th class="border p-2">Nom</th>
                <th class="border p-2">Prix</th>
                <th class="border p-2">Stock</th>
                <th class="border p-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="bg-white hover:bg-gray-50">
                <td class="border p-2">{{ forloop.counter }}</td>
                <td class="border p-2">{{ product.name }}</td>
                <td class="border p-2">{{ product.price }} FCFA</td>
                <td class="border p-2">
                    {% if product.quantity <= product.alert_threshold %}
                        <span class="text-red-600 font-semibold">{{ product.quantity }} (Bas!)</span>
                    {% else %}
                        {{ product.quantity }}
                    {% endif %}
                </td>
                <td class="border p-2 flex gap-2">
                    <a href="{% url 'update_product' product.id %}"  
                    class="bg-yellow-500 hover:bg-yellow-600 text-white px-2 py-1 rounded">
                    Edit
                 </a>
                 
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="border p-4 text-center text-gray-500">Pas de produit disponible</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
