{% extends 'stock/base.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }} 👑</h1>

    <div class="mb-4">
        <a href="{% url 'product_list' store_id=1 %}" class="btn btn-success">View All Products</a>
        <a href="{% url 'orders_list' store.id %}" class="btn">View Orders</a>
    </div>
    
    <h2>Your Products</h2>
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ product.name }}</strong> - {{ product.price }} FCFA
                </div>
                <a href="{% url 'create_order' store_id=product.store.id %}" class="btn btn-primary">Create Order</a>
            </li>
        {% empty %}
            <p class="text-muted">You have no products yet.</p>
        {% endfor %}
    </ul>
{% endblock %}
