<!-- order_detail.html -->
{% extends 'stock/base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto mt-10">
    <h2 class="text-3xl font-bold text-center mb-6">Order Details</h2>

    <div class="order-details border p-4 rounded mb-4">
        <h3 class="text-xl font-bold">Order ID: {{ order.id }}</h3>
        <p><strong>Client Name:</strong> {{ order.client_name }}</p>
        <p><strong>Client Phone:</strong> {{ order.client_phone }}</p>
        <p><strong>Order Date:</strong> {{ order.created_at }}</p>

        <h4 class="text-lg font-bold mt-4">Ordered Items</h4>
        <ul>
            {% for item in order.items.all %}
                <li>{{ item.product.name }} - Quantity: {{ item.quantity }} - Price: {{ item.product.price }} FCFA</li>
            {% endfor %}
        </ul>

        <p class="text-lg font-bold mt-6">Total Amount: <span>{{ order.total_amount }}</span> FCFA</p>
    </div>

    <a href="{% url 'orders_list' %}" class="text-blue-500">Back to Orders List</a>
</div>
{% endblock %}
